* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-image: url("img/montain.jpg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: auto;
  background-color: #d1d1d1;
  margin: 150px auto 0;
  padding: 30px 17px;
  border-radius: 8px;
}
.add-task {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
input {
  padding: 5px 7px;
  width: 70%;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 3px;
}
button {
  background-color: rgb(5, 87, 5);
  border: none;
  color: #fff;
  padding-block: 8px;
  border-radius: 3px;
  font-weight: 700;
  padding-inline: 10px;
}
button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.list-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.list-box .task-list {
  list-style: none;
}
.task-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  height: 50px;
  border-radius: 4px;
  background-color: white;
  margin-bottom: 20px;
  padding-inline: 5px;
  font-size: 0.75rem;
  font-weight: bold;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
img {
  height: 25px;
  cursor: pointer;
  opacity: 0;
}
.task:hover img {
  opacity: 1;
  transition: all 0.5s ease-in-out;
}

/* classe controlada pelo js */
.done {
  background-color: #8fac55 !important;
  text-decoration: line-through;
}
